    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h1>Web Server NodeJS</h1>
                <h2>Halo, <%= nama; %></h2>
            
                <h4>Daftar Mahasiswa</h4>
                <% if (mahasiswa.length < 1) { %>
                 <p>Data Mahasiswa Kosong</p>
                <% } %>
                <% mahasiswa.forEach(mhs => { %>
                    <ul>
                        <li>Nama : <%= mhs.nama; %></li>
                        <li>Email : <%= mhs.email; %></li>
                    </ul>
                <% }) %>
            </div>
        </div>
    </div>